---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Button from "../../components/common/Button.astro";
import PricingCategoryHeader from "../../components/pricing/PricingCategoryHeader.astro";
import PricingServiceCard from "../../components/pricing/PricingServiceCard.astro";
import PricingTaxToggle from "../../components/pricing/PricingTaxToggle.astro";
import Layout from "../../layouts/Layout.astro";

const pricingCategories = await getCollection("pricingCollection");
const sortedCategories = pricingCategories.sort((a, b) => a.data.order - b.data.order);
const locale = Astro.currentLocale === "en" || Astro.currentLocale === "sv" ? Astro.currentLocale : "en";
---

<Layout
  title="Priser för foto, video & design - Transparent & flexibelt"
  description="Upptäck mina priser för foto, video och design. Jag erbjuder flexibla paket och skräddarsydda lösningar som passar din budget. Alltid transparent, inga dolda kostnader."
  header="Prisöversikt"
  headerIcon="ph:coins-duotone"
  headerDescription="Här ser du tydligt vad mina kreativa tjänster inom foto, video och design kostar. Jag strävar efter att vara transparent och flexibel, så du kan hitta en lösning som passar just dina behov och din budget. Utforska mina paket eller använd priskalkylatorn för en snabb uppskattning."
>
  <section class="mx-auto max-w-2xl space-y-16">
    <nav class="my-8 flex flex-col justify-between gap-2 sm:flex-row" aria-label="Huvudnavigation">
      <Button href={getRelativeLocaleUrl(locale, "hire")}>
        <Icon name="ph:handshake-duotone" class="flex-shrink-0" aria-hidden="true" />
        Förverkliga din vision
        <Icon name="ph:arrow-right" class="flex-shrink-0" aria-hidden="true" />
      </Button>
      <Button href={getRelativeLocaleUrl(locale, "pricing/calculator")} variant="secondary">
        <Icon name="ph:calculator-duotone" class="flex-shrink-0" aria-hidden="true" />
        Utforska priskalkylatorn
        <Icon name="ph:arrow-right" class="flex-shrink-0" aria-hidden="true" />
      </Button>
    </nav>
    <PricingTaxToggle />
    {
      sortedCategories.map((category) => (
        <article class="space-y-8">
          <PricingCategoryHeader
            title={category.data.categoryName[locale]}
            icon={category.data.icon}
            color={category.data.color}
          />
          <div class="pricing-content hidden space-y-8">
            {category.data.services.map((service) => (
              <PricingServiceCard service={service} />
            ))}
          </div>
        </article>
      ))
    }
  </section>
</Layout>
