---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Button from "../../components/common/Button.astro";
import PricingCategoryHeader from "../../components/pricing/PricingCategoryHeader.astro";
import PricingServiceCard from "../../components/pricing/PricingServiceCard.astro";
import PricingTaxToggle from "../../components/pricing/PricingTaxToggle.astro";
import Layout from "../../layouts/Layout.astro";

const pricingCategories = await getCollection("pricingCollection");
const sortedCategories = pricingCategories.sort((a, b) => a.data.order - b.data.order);
const locale = Astro.currentLocale === "en" || Astro.currentLocale === "sv" ? Astro.currentLocale : "en";
---

<Layout
  title="Prissättning för kreativa tjänster"
  description="Se mina tydliga och konkurrenskraftiga priser för foto, video och design. Flexibla paket och skräddarsydda lösningar för alla budgetar. Inga dolda avgifter - bara ärlig prissättning för kvalitativa tjänster."
  header="Priser"
  headerIcon="ph:coins-duotone"
  headerDescription="Investera klokt i din digitala närvaro med mina transparenta och flexibla prisalternativ. Från enstaka fotosessioner till omfattande varumärkespaket - här hittar du professionella lösningar för varje budget. Utforska mina tjänster och upptäck hur jag kan maximera värdet av din investering."
>
  <section class="mx-auto max-w-2xl space-y-16">
    <nav class="my-8 flex flex-col justify-between gap-2 sm:flex-row" aria-label="Huvudnavigation">
      <Button href={getRelativeLocaleUrl(locale, "hire")}>
        <Icon name="ph:handshake-duotone" class="flex-shrink-0" aria-hidden="true" />
        Starta ditt projekt idag
        <Icon name="ph:arrow-right" class="flex-shrink-0" aria-hidden="true" />
      </Button>
      <Button href={getRelativeLocaleUrl(locale, "pricing/calculator")} variant="secondary">
        <Icon name="ph:calculator-duotone" class="flex-shrink-0" aria-hidden="true" />
        Besök priskalkylatorn
        <Icon name="ph:arrow-right" class="flex-shrink-0" aria-hidden="true" />
      </Button>
    </nav>
    <PricingTaxToggle />
    {
      sortedCategories.map((category) => (
        <article class="space-y-8">
          <PricingCategoryHeader
            title={category.data.categoryName[locale]}
            icon={category.data.icon}
            color={category.data.color}
          />
          <div class="pricing-content hidden space-y-8">
            {category.data.services.map((service) => (
              <PricingServiceCard service={service} />
            ))}
          </div>
        </article>
      ))
    }
  </section>
</Layout>
