---
import { t, l, astroI18n } from "astro-i18n";
import { Icon } from "astro-icon";
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";

import BulletTag from "../BulletTag.astro";
import Button from "../Button.astro";

const imgPostCover = await getImage({
  src: "https://source.unsplash.com/random/1280x720",
  width: 1280,
  height: 720,
});

const featuredBlog = await getCollection("blog", (entry) => {
  return entry.data.isFeatured === true;
});

let locale = astroI18n.locale;
let localeLong;

switch (locale) {
  case "en":
    localeLong = "en-US";
    break;
  case "sv":
    localeLong = "sv-SE";
    break;
  default:
    localeLong = "en-US";
}
---

<div
  class="relative col-span-5 flex flex-col justify-between gap-4 rounded border border-stone-200 p-8 lg:col-span-2 lg:row-span-1"
>
  <div
    class="absolute left-0 top-0 -z-10 h-full w-full bg-gradient-to-t from-red-500/25"
  >
  </div>
  <div
    class="absolute left-0 top-0 -z-20 h-full w-full bg-cover bg-center brightness-25"
    style={`background-image: url(${imgPostCover.src});`}
  >
  </div>
  <BulletTag
    text="FEATURED"
    bgColor="bg-red-400"
    showIcon="true"
    icon="ri:star-s-fill"
  />
  <div class="flex flex-col gap-2">
    <div class="flex gap-4 text-stone-400">
      <div class="flex gap-1">
        <Icon name="ri:calendar-line" width="16" />
        <span
          >{
            new Intl.DateTimeFormat(localeLong, {
              year: "numeric",
              month: "long",
              day: "numeric",
            }).format(new Date(featuredBlog[0].data.publishDate))
          }</span
        >
      </div>
      <div class="flex gap-1">
        <Icon name="ri:time-line" width="16" />
        <span>5 min read</span>
      </div>
    </div>
    <h2 class="text-3xl font-bold italic text-stone-50">
      {featuredBlog[0].data.title}
    </h2>
    <p class="text-stone-50">
      {featuredBlog[0].data.excerpt}
    </p>
  </div>
  <div class="flex w-full flex-row gap-4">
    <Button
      style="solid"
      text={t("cta.readThePost")}
      target="_self"
      href={l(`/blog/${featuredBlog[0].slug}`)}
    />
    <Button
      style="outline"
      text={t("cta.browseBlog")}
      target="_self"
      href={l("/blog")}
    />
  </div>
</div>
