---
import { getCollection, getEntry } from "astro:content";
import IconPhSparkleDuotone from "../../../components/icons/PhSparkleDuotone.astro";
import PortfolioCard from "../../../components/portfolio/PortfolioCard.astro";
import MainLayout from "../../../layouts/MainLayout.astro";

// Fetch all portfolio posts
const portfolioPosts = await getCollection("portfolioSvCollection").then((posts) =>
  posts.sort((a, b) => {
    // Featured posts first
    if (a.data.featured && !b.data.featured) return -1;
    if (!a.data.featured && b.data.featured) return 1;
    // Then sort by date
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
  })
);
---

<MainLayout title="Portfolio">
  <main class="flex flex-col gap-12 font-serif">
    <header
      class="flex flex-col-reverse justify-between gap-4 selection:bg-red-300 selection:text-red-800 sm:flex-row sm:items-center"
    >
      <h1 class="max-w-md text-4xl font-light break-words text-stone-900 italic">
        Tidigare arbeten
      </h1>
      <IconPhSparkleDuotone
        class="motion-opacity-loop-60 motion-duration-2000 motion-ease h-8 w-8 text-red-500 sm:h-12 sm:w-12"
      />
    </header>

    <article
      class="flex flex-col gap-4 font-serif text-sm font-light text-stone-700 selection:bg-red-300 selection:text-red-800"
    >
      <p>
        Vad är en portföljsajt utan en portföljsida? Denna sida visar upp mina bästa och mest
        intressanta arbeten och verk. Vissa kan vara bättre än andra, särskilt i jämförelse med
        äldre arbeten, men det är en del av att utvecklas och lära sig.
      </p>
    </article>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      {
        portfolioPosts.map(async (post) => {
          const client = await getEntry("clientsCollection", post.data.client.id);
          return <PortfolioCard post={post} client={client} currentLocale={Astro.currentLocale} />;
        })
      }
    </div>
  </main>
</MainLayout>
