---
const { tags } = Astro.props;
---

<ul class="flex h-fit flex-wrap gap-2 font-mono text-xs font-light text-stone-600">
  {
    tags.map((tag) => (
      <li class="rounded-full border border-stone-500 bg-amber-50 px-3 py-1 transition selection:bg-[var(--dominant-color)] selection:text-[color-mix(in_oklab,var(--dominant-color),white_70%)] hover:-translate-y-1 hover:border-[var(--dominant-color)] hover:text-[var(--dominant-color)] hover:drop-shadow-md active:-translate-y-1 active:border-[var(--dominant-color)] active:text-[var(--dominant-color)] active:drop-shadow-md">
        #{tag}
      </li>
    ))
  }
</ul>
