---
import { Image } from "astro:assets";
const { logo, name } = Astro.props;
---

<header
  class="flex flex-col-reverse justify-between gap-6 selection:bg-[var(--dominant-color)] selection:text-[color-mix(in_oklab,var(--dominant-color),white_70%)] sm:flex-row sm:items-center sm:gap-12"
>
  <Image src={logo} alt=`${name} logo` class="h-auto max-h-[100px] w-auto max-w-[200px]" />
  <h1
    class="max-w-md text-4xl font-light break-words text-stone-900 italic sm:text-right sm:text-6xl"
  >
    {name}
  </h1>
</header>
