---
import PhHeartDuotone from "../icons/PhHeartDuotone.astro";

const translations = {
  en: {
    title: "Collaboration Notice",
    notice:
      "This engagement was facilitated through a subcontracting arrangement. I'm proud to have contributed to this project as part of a larger collaboration, but due to the nature of the contract, I may not be allowed to share any details or created projects for this client.",
  },
  sv: {
    title: "Samarbetsmeddelande",
    notice:
      "Detta uppdrag genomfördes genom ett underleverantörsavtal. Jag är stolt över att ha bidragit till detta projekt som en del av ett större samarbete, men på grund av uppdragets natur får jag eventuellt inte dela några detaljer eller skapade projekt för denna kund.",
  },
};
---

<article
  class="relative rounded-lg border border-stone-300 bg-amber-50 p-6 text-sm font-light text-stone-700 selection:bg-[var(--dominant-color)] selection:text-[color-mix(in_oklab,var(--dominant-color),white_70%)]"
>
  <header
    class="absolute -top-3 left-4 flex h-6 w-6 items-center justify-center rounded-full border border-stone-300 bg-amber-50 text-[var(--dominant-color)]"
  >
    <PhHeartDuotone class="h-4 w-4" />
  </header>
  <h1 class="mb-2 font-serif text-xl text-stone-900 italic">
    {translations[Astro.currentLocale].title}
  </h1>
  <p class="leading-relaxed">
    {translations[Astro.currentLocale].notice}
  </p>
</article>
