---
import LegalDocumentCard from "./LegalDocumentCard.astro";

const { category, docs } = Astro.props;
---

<section class="flex flex-col gap-4">
  <header>
    <h2 class="font-serif text-3xl font-light text-stone-900 italic">{category}</h2>
  </header>
  <nav>
    <ul class="grid gap-4">
      {docs.map((doc) => <LegalDocumentCard doc={doc} />)}
    </ul>
  </nav>
</section>
