---
import { getRelativeLocaleUrl } from "astro:i18n";

const translations = {
  en: {
    related_documents: "Related Documents",
  },
  sv: {
    related_documents: "Relaterade dokument",
  },
};

const { item, allLegalItems } = Astro.props;
---

{
  item.data.relatedDocuments && item.data.relatedDocuments.length > 0 && (
    <footer class="mt-8 selection:bg-red-300 selection:text-red-800">
      <h2 class="mb-4 text-2xl font-light text-stone-900 italic">
        {translations[Astro.currentLocale].related_documents}
      </h2>
      <div class="flex w-full flex-col gap-4 sm:w-auto sm:flex-row sm:flex-wrap">
        {item.data.relatedDocuments.map((docSlug) => {
          const relatedDoc = allLegalItems.find((doc) => doc.id === docSlug);
          return (
            <a
              href={getRelativeLocaleUrl(`${Astro.currentLocale}`, `/legal/${docSlug}`)}
              class="flex w-full items-center justify-center gap-2 rounded-lg border border-stone-300 px-4 py-2 text-sm text-stone-700 transition duration-200 hover:border-red-500 hover:text-red-700 active:scale-90 active:border-red-500 active:text-red-700 sm:w-auto sm:justify-normal"
            >
              {relatedDoc ? relatedDoc.data.title : `/${docSlug}`}
            </a>
          );
        })}
      </div>
    </footer>
  )
}
