---
import LayoutMain from '../../layouts/Main.astro'
import PhHandsClappingDuotone from '../../components/icon/PhHandsClappingDuotone.astro'
import PhEnvelopeSimpleDuotone from '../../components/icon/PhEnvelopeSimpleDuotone.astro'
import PhPhoneDuotone from '../../components/icon/PhPhoneDuotone.astro'
import PhBehanceLogoDuotone from '../../components/icon/brands/PhBehanceLogoDuotone.astro'
import PhInstagramLogoDuotone from '../../components/icon/brands/PhInstagramLogoDuotone.astro'
import PhLinkedinLogoDuotone from '../../components/icon/brands/PhLinkedinLogoDuotone.astro'
---

<LayoutMain title="Kontakt">
	<div class="flex flex-row items-center gap-4">
		<h1 id="contact-header" class="text-3xl font-light">
			Låt oss <i class="font-serif">snacka!</i>
		</h1>
		<PhHandsClappingDuotone id="contact-header--icon" class="h-10 w-10 text-red-400" />
	</div>
	<main id="contact-info" class="flex flex-col gap-4 py-12">
		<p id="info-1">
			Jag ser alltid fram emot att höra från dig, oavsett om du är intresserad av att samarbeta, har
			frågor eller bara vill ta en kaffe tillsammans!
		</p>
		<p id="info-2">
			Om du tänker på att samarbeta med mig, skulle jag verkligen vilja veta mer om ditt projekt!
			Dela gärna med dig av detaljer som budget och tidslinje, så att jag kan få en bättre
			förståelse för dina behov och ge dig en mer exakt offert.
		</p>
		<i id="info-time">
			Förresten, klockan är för närvarande
			<span class="font-serif"><span id="stockholm-time">00:00</span> för mig.</span>
			Jag återkommer till dig så snart jag kan!
		</i>
	</main>
	<section id="contact-links" class="flex flex-col gap-6">
		<a id="contact-link-1" href="mailto:william@hallin.media" class="flex w-fit items-center gap-4">
			<PhEnvelopeSimpleDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">Email</span>
				<span>william@hallin.media</span>
			</div>
		</a>
		<a id="contact-link-2" href="tel:+46706159279" class="flex w-fit items-center gap-4">
			<PhPhoneDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">Phone</span>
				<span>+46 (0)70-615 9279</span>
			</div>
		</a>
		<a
			id="contact-link-3"
			href="https://www.behance.net/whallin"
			target="_blank"
			class="flex w-fit items-center gap-4"
		>
			<PhBehanceLogoDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">Behance</span>
				<span>@whallin</span>
			</div>
		</a>
		<a
			id="contact-link-4"
			href="https://www.instagram.com/williamhallinn/"
			target="_blank"
			class="flex w-fit items-center gap-4"
		>
			<PhInstagramLogoDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">Instagram</span>
				<span>@williamhallinn</span>
			</div>
		</a>
		<a
			id="contact-link-5"
			href="https://www.linkedin.com/in/whallin/"
			target="_blank"
			class="flex w-fit items-center gap-4"
		>
			<PhLinkedinLogoDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">LinkedIn</span>
				<span>@whallin</span>
			</div>
		</a>
	</section>

	<script>
		import gsap from 'gsap'

		gsap.from(['#contact-header', '#contact-header--icon'], {
			y: -15,
			opacity: 0,
			duration: 1,
			ease: 'power2.out',
			stagger: 0.25
		})

		gsap.from(['#info-1', '#info-2', '#info-time'], {
			y: 25,
			opacity: 0,
			duration: 0.5,
			ease: 'power2.out',
			stagger: 0.25
		})

		gsap.from(
			[
				'#contact-link-1',
				'#contact-link-2',
				'#contact-link-3',
				'#contact-link-4',
				'#contact-link-5'
			],
			{
				x: 15,
				opacity: 0,
				duration: 0.5,
				ease: 'power2.out',
				stagger: 0.25
			}
		)

		const contactLinks = [
			'#contact-link-1',
			'#contact-link-2',
			'#contact-link-3',
			'#contact-link-4',
			'#contact-link-5'
		]

		contactLinks.forEach((link) => {
			const element = document.querySelector(link)
			element.addEventListener('mouseenter', () => {
				gsap.to(element, { opacity: 0.75, color: '#f87171', duration: 0.2, ease: 'power2.out' })
			})
			element.addEventListener('mouseleave', () => {
				gsap.to(element, { opacity: 1, color: '#1c1917', duration: 0.2, ease: 'power2.out' })
			})
		})

		// Get the Stockholm time
		function updateStockholmTime() {
			document.getElementById('stockholm-time').textContent = new Intl.DateTimeFormat([], {
				timeZone: 'Europe/Stockholm',
				hour: '2-digit',
				minute: '2-digit',
				hour12: false
			}).format(new Date())
		}

		// Update the stockholm-time every minute
		updateStockholmTime()
		setInterval(updateStockholmTime, 60000)
	</script>
</LayoutMain>
