---
import PhClockDuotone from '../components/icon/PhClockDuotone.astro'
import PhEnvelopeSimpleDuotone from '../components/icon/PhEnvelopeSimpleDuotone.astro'
import PhHandWavingDuotone from '../components/icon/PhHandWavingDuotone.astro'
import PhPhoneDuotone from '../components/icon/PhPhoneDuotone.astro'
import PhInstagramLogoDuotone from '../components/icon/brands/PhInstagramLogoDuotone.astro'
import PhLinkedinLogoDuotone from '../components/icon/brands/PhLinkedinLogoDuotone.astro'
import LayoutMain from '../layouts/Main.astro'
---

<LayoutMain title="Kontakt">
	<div class="flex flex-row items-center gap-4">
		<PhHandWavingDuotone id="contact-header--icon" class="h-10 w-10 text-red-400" />
		<h1 id="contact-header" class="text-3xl font-light">
			Låt oss <i class="font-serif">snacka!</i>
		</h1>
	</div>
	<main id="contact-info" class="flex flex-col gap-4 py-12">
		<p id="info-1">
			Jag ser alltid fram emot att höra från dig, oavsett om du är intresserad av att samarbeta, har
			frågor eller bara vill ta en kaffe tillsammans!
		</p>
		<p id="info-2">
			Om du tänker på att samarbeta med mig, skulle jag verkligen vilja veta mer om ditt projekt!
			Dela gärna med dig av detaljer som budget och tidslinje, så att jag kan få en bättre
			förståelse för dina behov och ge dig en mer exakt offert.
		</p>
		<section id="info-time" class="flex items-center gap-2">
			<PhClockDuotone class="h-6 w-6 text-red-400" />
			<p>Klockan är just nu <span id="stockholm-time" class="font-serif italic">00:00:00</span></p>
		</section>
	</main>
	<section id="contact-links" class="flex flex-col gap-6">
		<a
			id="contact-link-mail"
			href="mailto:william@hallin.media"
			class="flex w-fit items-center gap-4"
		>
			<PhEnvelopeSimpleDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">Email</span>
				<span>william@hallin.media</span>
			</div>
		</a>
		<a id="contact-link-phone" href="tel:+46706159279" class="flex w-fit items-center gap-4">
			<PhPhoneDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">Phone</span>
				<span>+46 (0)70-615 9279</span>
			</div>
		</a>
		<a
			id="contact-link-ig"
			href="https://www.instagram.com/williamhallinn/"
			target="_blank"
			class="flex w-fit items-center gap-4"
		>
			<PhInstagramLogoDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">Instagram</span>
				<span>@williamhallinn</span>
			</div>
		</a>
		<a
			id="contact-link-li"
			href="https://www.linkedin.com/in/whallin/"
			target="_blank"
			class="flex w-fit items-center gap-4"
		>
			<PhLinkedinLogoDuotone class="h-8 w-8 text-red-400" />
			<div class="flex flex-col gap-1">
				<span class="font-serif">LinkedIn</span>
				<span>@whallin</span>
			</div>
		</a>
	</section>
	<script>
		document.addEventListener(
			'astro:page-load',
			() => {
				gsap.from(['#contact-header--icon', '#contact-header'], {
					y: -10,
					opacity: 0,
					duration: 1,
					ease: 'power2.out',
					stagger: 0.25
				})
			},
			{ once: false }
		)

		// Get the Stockholm time
		function updateStockholmTime() {
			document.getElementById('stockholm-time').textContent = new Intl.DateTimeFormat([], {
				timeZone: 'Europe/Stockholm',
				hour: '2-digit',
				minute: '2-digit',
				second: '2-digit',
				hour12: false
			}).format(new Date())
		}

		// Update the stockholm-time every minute
		updateStockholmTime()
		setInterval(updateStockholmTime, 1000)
	</script>
</LayoutMain>
