---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import PhQuestionDuotone from "../components/icons/PhQuestionDuotone.astro";
import FaqList from "../components/sections/FaqList.astro";
import MainLayout from "../layouts/MainLayout.astro";

const faqCollection = await getCollection("faqCollection");
---

<MainLayout
  title="FAQ"
  description="Besök vår FAQ-sida för svar på vanliga frågor. Få klar och tydlig information för en smidig upplevelse. Besök oss nu för snabb support."
  faqData={faqCollection}
>
  <article class="space-y-12 font-serif selection:bg-red-300 selection:text-red-800">
    <header class="flex flex-col-reverse gap-4 sm:flex-row sm:items-center sm:justify-between">
      <h1 class="max-w-md text-4xl font-light text-stone-900 italic">Frequent questions</h1>
      <PhQuestionDuotone
        class="motion-opacity-loop-60 motion-duration-2000 motion-ease h-8 w-8 text-red-500 sm:h-12 sm:w-12"
      />
    </header>
    <p class="text-sm font-light text-stone-700">
      Sometimes, questions arise that disrupt useful conversations. Here are some of the most common
      questions I am asked, along with their answers. Hopefully, they will help you understand me,
      my services, and my work a bit better. If they don't answer your question, <a
        href={getRelativeLocaleUrl(`${Astro.currentLocale}`, "contact")}
        data-umami-event="faq_contact"
        data-umami-event-origin={Astro.url}
        class="text-red-500 underline decoration-dashed decoration-from-font underline-offset-4 hover:bg-red-500 hover:text-stone-50 hover:no-underline active:opacity-50"
        >feel free to get in touch</a
      >.
    </p>
    <FaqList showCategories={true} />
  </article>
</MainLayout>
