---
import Default from "../layouts/Default.astro";
import { t } from "astro-i18n";

import HomeMain from "../components/HomeCards/Main.astro";
import HomeContact from "../components/HomeCards/Contact.astro";
import HomeServices from "../components/HomeCards/Services.astro";
import HomeClients from "../components/HomeCards/Clients.astro";
import HomeFeatured from "../components/HomeCards/Featured.astro";
---

<Default title={t("metadata.title")} description={t("metadata.description")}>
  <div
    class="grid grid-cols-1 grid-rows-1 gap-4 p-8 lg:grid-cols-5 lg:grid-rows-2"
  >
    <HomeMain />
    <HomeServices />
    <HomeContact />
    <HomeClients />
    <HomeFeatured />
  </div>
</Default>
