---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { Picture } from 'astro:assets'
import LayoutMain from '../layouts/Main.astro'
import HallinmediaGradientBG from '../assets/brand/hallinmedia-gradient.png'
import Avatar from '../assets/avatar.png'
import PhHandWavingDuotone from '../components/icon/PhHandWavingDuotone.astro'
import SpotifyNowPlaying from '../components/SpotifyNowPlaying.astro'
---

<LayoutMain title="Home">
	<main>
		<div
			class="relative h-fit overflow-clip break-words rounded-xl bg-gradient-to-t from-red-900/75 to-red-900/0 p-8 shadow-lg sm:h-[250px]"
		>
			<div class="flex h-full flex-col justify-between gap-12">
				<div class="flex items-center gap-4" id="landing-avatar">
					<Picture
						src={Avatar}
						alt="Picture of William Hallin"
						formats={['avif', 'webp']}
						height={48}
						class="select-none rounded-full"
						id="landing-avatar--img"
					/>
					<PhHandWavingDuotone class="h-10 w-10 text-red-100" id="landing-avatar--wave" />
				</div>
				<h1 class="text-3xl font-light text-stone-50" id="landing-header">
					<a
						href={getRelativeLocaleUrl(Astro.currentLocale, 'work')}
						class="underline decoration-2 underline-offset-4 transition duration-200 hover:opacity-75 focus:opacity-50"
						>Freelancing</a
					> digital designer & video producer based in <i class="font-serif">Skellefteå, Sweden.</i>
				</h1>
			</div>
			<Picture
				src={HallinmediaGradientBG}
				alt=""
				formats={['avif', 'webp']}
				height={300}
				class="justify-self absolute left-0 top-0 -z-10 h-full w-full select-none"
			/>
		</div>
	</main>
	<section id="about" class="flex flex-col gap-4 py-12">
		<h2 id="about-1" class="text-2xl">Hi <i class="font-serif">there!</i></h2>
		<p id="about-2">
			Thanks for stopping by my website! It's currently getting a bit of a makeover, but I'm super
			excited that you're interested.
		</p>
		<p id="about-3">
			If you wouldn't mind checking back a little later, that would be awesome! There's not much to
			see at the moment, and I can't wait to show you all the cool stuff coming soon.
		</p>
		<p id="about-4">
			In the meantime, if you're curious about what I do, feel free to check out my social media
			links in the footer below. I'm active on Instagram and LinkedIn, and I'd love to connect with
			you there!
		</p>
	</section>
	<SpotifyNowPlaying />

	<script>
		import gsap from 'gsap'

		gsap.from(['#landing-avatar--img', '#landing-avatar--wave'], {
			y: -10,
			opacity: 0,
			duration: 1,
			ease: 'power2.out',
			stagger: 0.5
		})
		gsap.from(['#landing-avatar', '#landing-header'], {
			y: -15,
			opacity: 0,
			duration: 1,
			ease: 'power2.out',
			stagger: 0.25
		})
		gsap.from(['#about-1', '#about-2', '#about-3', '#about-4'], {
			y: 25,
			opacity: 0,
			duration: 0.5,
			ease: 'power2.out',
			stagger: 0.25
		})
		gsap.to('#landing-avatar--wave', {
			rotation: 20,
			duration: 1,
			yoyo: true,
			repeat: -1,
			ease: 'power1.inOut'
		})
	</script>
</LayoutMain>
