---
import { Picture } from 'astro:assets'
import { getRelativeLocaleUrl } from 'astro:i18n'

import HallinmediaWordmark from '../assets/brand/wordmark.svg'

import PhHandWavingDuotone from './icon/PhHandWavingDuotone.astro'
import PhHeartDuotone from './icon/PhHeartDuotone.astro'
import PhReadCvLogoDuotone from './icon/PhReadCvLogoDuotone.astro'
---

<div
	class="flex flex-col justify-between gap-4 pb-8 pt-4 sm:flex-row sm:items-center sm:gap-0 sm:pb-12"
	transition:animate="none"
>
	<div class="flex w-full items-center justify-between gap-6 sm:w-fit sm:justify-start">
		<a href={getRelativeLocaleUrl(Astro.currentLocale, '/')}>
			<Picture
				src={HallinmediaWordmark}
				alt="Wordmark of HallinMedia"
				width={160}
				class="select-none transition duration-200 hover:opacity-75 active:opacity-50"
			/>
		</a>
	</div>
	<nav class="flex flex-wrap items-end justify-between gap-6 text-stone-500 sm:justify-start">
		<a
			href={getRelativeLocaleUrl(Astro.currentLocale, 'portfolio')}
			class="flex items-center gap-1 transition duration-200 hover:text-red-400 active:opacity-50"
			><PhHeartDuotone class="text-red-400" />Portfolio</a
		>
		<a
			href={getRelativeLocaleUrl(Astro.currentLocale, 'contact')}
			class="flex items-center gap-1 transition duration-200 hover:text-red-400 active:opacity-50"
			><PhHandWavingDuotone class="text-red-400" />Kontakt</a
		>
		<a
			href="/william-hallin-cv-2024.pdf"
			target="_blank"
			class="flex items-center gap-1 transition duration-200 hover:text-red-400 active:opacity-50"
			><PhReadCvLogoDuotone class="text-red-400" />CV</a
		>
	</nav>
</div>
