---
import { Picture } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

import HallinmediaWordmark from "../assets/brand/wordmark.svg";

import PhCameraDuotone from "./icon/PhCameraDuotone.astro";
import PhHandWavingDuotone from "./icon/PhHandWavingDuotone.astro";
import PhHeartDuotone from "./icon/PhHeartDuotone.astro";
---

<header
  role="banner"
  class="flex flex-col justify-between gap-4 pb-8 pt-4 sm:flex-row sm:items-center sm:gap-0 sm:pb-12"
  transition:animate="none"
>
  <div
    class="flex w-full items-center justify-between gap-6 sm:w-fit sm:justify-start"
  >
    <a
      href={getRelativeLocaleUrl(Astro.currentLocale ?? "en", "/")}
      aria-label="Go to homepage"
      class="rounded-lg p-2 transition duration-150 hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-red-600 active:opacity-50"
    >
      <Picture
        src={HallinmediaWordmark}
        alt="Wordmark of HallinMedia"
        width={160}
        class="select-none"
      />
    </a>
  </div>
  <nav
    role="navigation"
    aria-label="Main navigation"
    class="flex flex-wrap items-end justify-between gap-2 text-stone-500 sm:justify-start"
  >
    <a
      href="https://piwigo.hallin.media"
      data-umami-event="Navigation Click"
      data-umami-page="fotobank"
      data-ga4-event="nav_click"
      data-ga4-page="fotobank"
      class="flex items-center gap-1 rounded-lg p-2 transition duration-150 hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-red-600 active:opacity-50"
      aria-label="View Fotobank"
      target="_blank"
      rel="noopener noreferrer"
    >
      <PhCameraDuotone class="h-4 w-4 text-red-400" aria-hidden="true" />
      <span>Fotobank</span>
    </a>
    <a
      href={getRelativeLocaleUrl(Astro.currentLocale ?? "en", "portfolio")}
      data-umami-event="Navigation Click"
      data-umami-page="portfolio"
      data-ga4-event="nav_click"
      data-ga4-page="portfolio"
      class="flex items-center gap-1 rounded-lg p-2 transition duration-150 hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-red-600 active:opacity-50"
      aria-label="View portfolio"
    >
      <PhHeartDuotone class="text-red-400" aria-hidden="true" />
      <span>Portfolio</span>
    </a>
    <a
      href={getRelativeLocaleUrl(Astro.currentLocale ?? "en", "contact")}
      data-umami-event="Navigation Click"
      data-umami-page="contact"
      data-ga4-event="nav_click"
      data-ga4-page="contact"
      class="flex items-center gap-1 rounded-lg p-2 transition duration-150 hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-red-600 active:opacity-50"
      aria-label="Contact page"
    >
      <PhHandWavingDuotone class="text-red-400" aria-hidden="true" />
      <span>Kontakt</span>
    </a>
  </nav>
</header>
