---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { getLocalizedPath, useTranslations } from "../i18n/utils";

const t = useTranslations(Astro.currentLocale);
const services = await getCollection("services");
const localizedServices = services.filter((service) =>
  service.id.includes(`${Astro.currentLocale}/`),
);

interface Props {
  max?: number;
  onlyFeatured?: boolean;
}

const { max = 4, onlyFeatured = false } = Astro.props;
---

<div class="flex flex-col items-center gap-8">
  <div
    class="grid w-full grid-cols-1 justify-items-center gap-12 sm:grid-cols-3 sm:justify-items-start"
  >
    {
      localizedServices
        .filter((service) => !onlyFeatured || service.data.featured)
        .slice(0, max)
        .sort((a, b) => {
          const other = a.id.includes("other");
          if (other && !b.id.includes("other")) return 1;
          if (!other && b.id.includes("other")) return -1;
          return a.data.name.localeCompare(b.data.name);
        })
        .map((service) => (
          <div class="flex flex-col items-center gap-2 text-center sm:items-start sm:text-left">
            <Icon name={service.data.icon} class="h-8 w-8 text-live-500" />
            <h3 class="font-serif text-lg text-stone-900 dark:text-stone-50">
              {service.data.name}
            </h3>
            <p class="text-stone-700 dark:text-stone-200">
              {service.data.description}
            </p>
            <a
              href={getLocalizedPath(
                Astro.currentLocale,
                `services/${service.id.split("/").pop()}`,
              )}
              class="group flex items-center gap-1 text-live-500 underline underline-offset-4 transition duration-200 hover:opacity-70 active:opacity-50"
            >
              {t("button.learn-more")}
              <Icon
                name="ph:arrow-right-bold"
                class="h-4 w-4 transition duration-200 group-hover:translate-x-1"
              />
            </a>
          </div>
        ))
    }
  </div>
  <a
    href={getLocalizedPath(Astro.currentLocale, "services")}
    class="group flex items-center gap-1 text-stone-500 transition duration-200 hover:opacity-70 active:opacity-50 dark:text-stone-400"
  >
    <p class="underline underline-offset-4">{t("servicegrid.cta")}</p>
    <Icon
      name="ph:arrow-right-bold"
      class="inline transition duration-200 group-hover:translate-x-1"
    />
  </a>
</div>
