---
const { category, title, categoryColor } = Astro.props;
---

<header class="flex flex-col gap-6 selection:bg-red-300 selection:text-red-800">
  <span
    class={`h-fit w-fit rounded-full border border-stone-500 px-3 py-1 font-mono text-xs font-light text-stone-600 transition duration-200 hover:-translate-y-1 hover:border-${categoryColor}-500 hover:text-${categoryColor}-700`}
  >
    {category}
  </span>
  <h1 class="text-4xl font-light break-words text-stone-900 italic sm:text-6xl">
    {title}
  </h1>
</header>
