---
import PhHeartDuotone from '../../components/icon/PhHeartDuotone.astro'
import PortfolioGrid from '../../components/PortfolioGrid.astro'
import PortfolioViewMore from '../../components/PortfolioViewMore.astro'
import LayoutMain from '../../layouts/Main.astro'
---

<LayoutMain
	title="Portfolio"
	description="William Hallin är en frilansande digital designer och videoproducent i Skellefteå. Specialiserad på fotografering, videoproduktion och redigering."
>
	<div class="flex flex-row items-center gap-4">
		<PhHeartDuotone id="portfolio-header--icon" class="h-10 w-10 text-red-400 opacity-0" />
		<h1 id="portfolio-header" class="text-3xl font-light opacity-0">
			Min <i class="font-serif">portfolio</i>
		</h1>
	</div>

	<main id="portfolio-info" class="flex h-fit flex-col gap-4 pb-8 pt-6">
		<p id="info-1">
			Välkommen till min portfolio, där jag stolt presenterar en utvald samling av mina tidigare
			projekt inom grafisk design, foto och videoproduktion.
		</p>
		<p id="info-2">
			De arbeten som visas här är noggrant utvalda för att ge dig en djupare förståelse av mina
			kreativa processer genom case studies.
		</p>
	</main>

	<the-fold></the-fold>

	<PortfolioGrid />

	<PortfolioViewMore />

	<script>
		document.addEventListener(
			'astro:page-load',
			() => {
				gsap.set(['#portfolio-header--icon', '#portfolio-header'], { opacity: 1 })

				gsap.from(['#portfolio-header--icon', '#portfolio-header'], {
					y: -10,
					opacity: 0,
					duration: 1,
					ease: 'power2.out',
					stagger: 0.25
				})
			},
			{ once: false }
		)
	</script>
</LayoutMain>
